.body{
    background-color: skyblue;
    margin: 0;
    padding: 0;
}
.header{
    background-color: greenyellow;
    height: 160px;
}
.head{
    background-color: gold;
    height: 75%;
    display: flex;
    justify-content: center;
}
.botton{
    background-color: green;
    height: 25%;
}
.headcontainer{
    height: 100%;
    width: 75%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
.hdright{
    height: 100%;
    width: 40%;
}
.hdleft{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
}
.left1{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.left2{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column-reverse;
    color: green;
}
.hddate{
    margin: 0 0 20px 0;
}
.headlogo{
    height: 136%;
    width: 27%;
    float: right;
    margin: 0 37px 0 0;
}
.imglogo{
    max-height: 100%;
}
.headimg1{
    max-height: 65%;
    width: 38%;
}
.solganlogo{
    width: 100%;
}
.headli{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0 3px;
    align-items: flex-start;
    border: 1px solid transparent;
}
.hdbtn{
    height: 70%;
    width: 20%;
    background-color: green;
    text-align: center;
    color: gold;
    border-radius: 5px;
    margin: 10px 0 0 0px;
}